notes
planning
.cache_ggshield
ApiGateway/ApiGateway.sln.DotSettings.user
fix-laravel-nginx.ps1
laravel/scribe.txt
laravel/.scribe/endpoints/00.yaml
laravel/.scribe/endpoints.cache/00.yaml
ApiGateway/.idea/.idea.ApiGateway/.idea/data_source_mapping.xml
